filetype plugin indent on

" Use system clipboard
set clipboard=unnamedplus
set clipboard+=ideaput
set encoding=utf-8
set hidden
set nobackup
set nowritebackup
set nocompatible

" Tabs
set tabstop=2
set softtabstop=2
set shiftwidth=2
set expandtab
set smarttab
set autoindent

" No editing swap file
set noswapfile

" Whether mouse is enabled
set mouse=a

" Remove trailing whitespace
autocmd BufWritePre * %s/\s\+$//e

" Movement
autocmd InsertEnter * norm zz

" Faster update time
set updatetime=300

" Backspace beyond insert
set backspace=indent,eol,start

" Search options
set wildmenu
set incsearch
set hlsearch
set ignorecase
set smartcase

" History
set history=100
set undolevels=1000

" Replace d cut with delete
nnoremap x "_x
nnoremap d "_d
nnoremap D "_D
vnoremap d "_d

nnoremap <leader>d ""d
nnoremap <leader>D ""D
vnoremap <leader>d ""d
