filetype plugin indent on
set clipboard=unnamedplus
set clipboard+=ideaput
set encoding=utf-8
set hidden
set nobackup
set nowritebackup
set nocompatible
set tabstop=2
set softtabstop=2
set shiftwidth=2
set expandtab
set smarttab
set autoindent
set noswapfile
set mouse=a
autocmd BufWritePre * %s/\s\+$//e
set updatetime=300
set backspace=indent,eol,start
set wildmenu
set incsearch
set hlsearch
set ignorecase
set smartcase
set history=100
set undolevels=1000

" Replace d cut with delete
nnoremap x "_x
nnoremap d "_d
nnoremap D "_D
vnoremap d "_d

nnoremap <leader>d ""d
nnoremap <leader>D ""D
vnoremap <leader>d ""d
